*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .login_container {
    width: 100%;
    height: 100%;
  }
  .login_container > form > center > input {
    width: 100vw;
  }
  .login_button {
    width: 60%;
  }
  .rtd {
    width: 70%;
  }
}
